/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; ;
}

* {
    list-style: none;
    text-decoration: none;
    color: black;
}

/* Wrapper Layout */
.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header"
        "main   main"
        "footer footer";
}

/* Container Layout */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/* Header Styles */
header {
    grid-area: header;
    background-color: #f8f9fa;
}

.logo {
    margin: 0.5rem 1rem;
}

.logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.navi{
    display: flex;
}

.theme {
    margin: auto 0.5rem;
}
/* Navigation Styles */
.nav {
    grid-area: nav;
    margin: auto 1rem;
}

.nav li {
    display: inline;
    margin: auto 0.5rem;
    font-size: 17px;
}

.menubar {
    grid-area: menubar;
    display: none;
}

.theme{
    position: relative;
    padding: 20px 44px;
    border-radius: 24px;
    background-color: black;
    color: white;
    transition: change 0.3s;
}

.theme.after{
    background-color: white;
    color: black;
    transition: 0.3s;
}

.btn{
    position: absolute;
    left: 4px;
    top: 3px;
    background-color: #6b6b6b;
    color: white;
    padding: 17px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transform: translateX(0);
    transition: transform 0.3s;
}

.btn.after{
    transform: translateX(46px);
    transition: transform 0.3s;
}

main {
    grid-area: main;
    padding: 1rem;
    background-color: #ffffff;
}

main h1{
    text-align: center;
    margin: 2rem;
}

.intro {
    margin: 2rem;
}

.intro > p {
    font-size: 1.3rem;
    text-align: center;
}

.memberlist {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.member {
    display: grid;
    grid-template-areas: 
        "profile info";
    background-color: rgb(216, 216, 216);
    width: 265px;
    margin: 1rem;
    border-radius: 10px;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s;
}

.member:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: transform 0.3s;
}

.profile{
    grid-area: profile;
    margin: auto 5px;
    width: auto;
}

.info {
    grid-area: info;
    text-align: left;
    margin: auto 5px;
    width: auto;
}

.projectlist {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.project {
    display: grid;
    grid-template-areas: 
        "project p-info";
    background-color: rgb(216, 216, 216);
    border-radius: 10px;
    margin: 0.5rem;
    transform: scale3d(1, 1, 1);
    transition: transform 0.3s;
}

.project:hover {
    transform: scale3d(1.05, 1.05, 1.05);
    transition: transform 0.3s;
}

.thumbnail{
    grid-area: project;
    margin: auto 5px;
}

.thumbnail img{
    width: 110.25px;
    height: 110.25px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.p-info{
    grid-area: p-info;
    margin: auto 5px;
    text-align: left;
}

footer {
    grid-area: footer;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
}

.left {
    margin: auto 1rem;
}

.left a{
    display: block;
    margin: 0.5rem;
}

.left a img{
    width: 100px;
    height: 100px;
}

.right {
    text-align: right;
    justify-content: end;
    align-content: space-between;
    align-items: center;
    margin: auto 1rem;
}

aside{
    justify-content: center;
    align-items: center;
    grid-area: aside;
    background-color: #f8f9fa;
    width: auto;
}

.sm, .cs{
    margin: auto 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

:root[data-theme="dark"] {
    --d-primary-color: black;
    --dt-color: white;
    --d-second-background: #1b1b1b;
}

[data-theme="dark"] main {
    background-color: var(--d-primary-color);
    color: var(--dt-color);
}

[data-theme="dark"] header {
    background-color: var(--d-second-background);
    color: var(--dt-color);
}

[data-theme="dark"] footer {
    background-color: var(--d-second-background);
    color: var(--dt-color);
}

[data-theme="dark"] aside {
    background-color: var(--d-second-background);
    color: var(--dt-color);
}

[data-theme="dark"] h1, h2, p, a {
    color: var(--dt-color);
}

[data-theme="dark"] .member {
    background-color: var(--d-second-background);
}

[data-theme="dark"] .project {
    background-color: var(--d-second-background);
}

[data-theme="dark"] .thumbnail #PTU,[data-theme="dark"] .logo img,[data-theme="dark"] .left img {
    filter: invert(1);
}

@media (max-width: 480px){
    .wrapper{
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }
    
    aside{
        display: none;
    }

    .nav{
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .wrapper{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "footer";
    }
    
    aside{
        display: none;
    }

    .nav{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .wrapper{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header header"
            "main   main"
            "footer footer";
    }

    aside{
        display: none;
    }

    .nav{
        display: none;
    }
}

@media (min-width: 1024px) and (max-width: 1440px){
    .wrapper{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header header"
            "main   main"
            "footer footer";
    }

    aside{
        display: none;
    }

    .nav{
        display: none;
    }
}

@media (min-width: 1440px){
    .wrapper{
        grid-template-rows: auto 1fr auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header header header"
            "main   main aside"
            "footer footer footer";
    }
    
}